body {
  font-family: PT serif;
  background-color: #A9C0FF;
}
.col-md-3 {
  height: auto;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.col-md-6 {
  height: auto;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.row {
  font-size: 21.14px;
}

.border1 {
  border-style: solid;
  border-width: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.form-control{
  width: 300px;
  display: block;
  text-align: center;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.humanInfo{
  float: left;
}
.pupInfo{
  float: right;
}
