h1 {
  text-align: center;
  font-style: ;
  text-align: center;
  text-shadow: 2px 4px 6px #000000;
}
body {
  font-family: PT serif;
  background:  url("../img/doggie.jpg");
}
.well {
  text-align: center;
  color: white;
  background-color: #417187;
  width: 500px;
  display: block;
  margin: 0 auto;
  }
.well button {
  color: black;
}

.jumbotron {
  color: #FFFFFF;
  background-color: #3C677C;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 80px;
}
.right {
  right: 0;
}
.left{
  left: 0;
  object-fit: contain;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.col-md-3 {
  background-color: #CCCBB1;
  height: 100px;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.col-md-6 {
  background-color: #CCCBB1;
  height: 100px;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
#lowerMiddleBlock {
  background-color: #CCCBB1;
  height: 1500px;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
#lowerOuterBlocks {
  background-color: #CCCBB1;
  height: 1500px;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.row {
  font-size: 21.14px;
}

.border1 {
  border-style: solid;
  border-width: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

input[type="radio"]{
  margin: 0 15px 0 15px;
}
#game {
  display: none;
}

#humanPic img {
  width: 100%;
}

#dogPic img {
  width: 100%;
}

#toys {
  padding-top: 30px;
}

#toys img {
  display: inline-grid;
  width: 100px;
  height: 100px;
  text-align: left;
}
#toypics column {
  width: 33.33%
}

#gameOver, #dogs, #parkenergy, #dogParkClosed, #dogNapping, #walkLate, #walkEnergy, #parkLowEnergy, #ropeDog, #ballDog, #plushDog, #showExtra {
  display: none;
}

/* #startScreen {
  display: none;
} */
