h1 {
  text-align: center;
  font-style: ;
  text-align: center;
  text-shadow: 2px 4px 6px #000000;
}
body {
  font-family: PT serif;
  background-color: #A9C0FF;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.well {
  text-align: center;
  color: black;
  background-color: #A9C0FF;
  width: 500px;
  display: block;
  margin: 0 auto;
  }
.jumbotron {
  background:  url("../img/bluepups.png");
  color: #FFFFFF;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 80px;
}
.right {
  right: 0;
}
.left{
  left: 0;
  object-fit: contain;
}
.centered {
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

.col-md-3 {
  height: auto;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.col-md-6 {
  height: auto;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* .col-md-12 {
  border-style: solid;
  border-width: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
} */
.row {
  font-size: 21.14px;
}

.border1 {
  border-style: solid;
  border-width: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

}
#humanName{
  float: left;
}
#pupName{
  float: right;
}

/* #game {
  display: none;
} */

#startScreen {
  display: none;
}
